<!DOCTYPE html>
<html>

<head>
    <!-- Title of the webpage -->
    <title>Login Form</title>
</head>

<body>
    <!-- Heading for the login form -->
    <h1>Login Form</h1>

    <!-- Form for user login, action attribute specifies the URL to send the form data -->
    <form action="/login" method="post">

        <!-- Input field for entering the username -->
        <input type="text" name="username" placeholder="Username">

        <!-- Input field for entering the password -->
        <input type="password" name="password" placeholder="Password">

        <!-- Submit button to submit the form -->
        <input type="submit" value="Login">
    </form>
</body>

</html>
